/*!
--------------------------------------------
ESTRUTURAÇÃO BASE (v1)
--------------------------------------------
**** GERAL
**** BODY
**** HEADER
**** FOOTER
**** PÁGINA INICIAL
**** EXTRAS
**** @media
*/

/* GERAL */
html,
body,
header,
main,
footer,
article,
div,
span,
p,
a,
figure,
img,
small {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  outline: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.linha {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-right: 16px;
  min-width: 290px;
  min-height: 40px;
}

.coluna {
}

/* BODY */
body {
}

/* HEADER */
body > header {
  background-image: url(../img/bk-header.jpg);
  background-repeat: no-repeat;
  background-position: center -115px;
  padding: 18px 0;
}
body > header .container {
}
body > header .linha {
}
body > header .linha .coluna {
}
body > header .linha .coluna figure {
}
body > header .linha .coluna figure img {
  width: 100%;
  max-width: 150px;
}
body > header .linha .coluna h1 {
  color: #fff;
  margin-left: 30px;
}

/* MAIN */
main {
  background-color: #f7f7f7;
  height: 85vh;
  padding-top: 60px;
}
main .container {
}
main article {
  box-shadow: 0 0 14px -9px #000;
}
main article::selection {
  background-color: #f7cc48;
}
main article .linha {
}
main article .linha .coluna {
  padding: 0 15px;
}
main article header {
  padding: 15px 0;
}
main article header .linha {
}
main article header .linha .coluna {
}
main article header .linha .coluna span {
  font-size: 26px;
  font-weight: bold;
}
main article header .linha .coluna-rank {
}
main article header .linha .coluna-rank span {
}
main article header .linha .coluna-country {
  flex-grow: 2;
}
main article header .linha .coluna-country span {
}
main article header .linha .coluna-medalha {
}
main article header .linha .coluna-medalha span {
  width: 54px;
  height: 54px;
  display: inline-block;
  text-align: center;
  line-height: 48px;
  border-radius: 100%;
  border: 2px solid #fff;
}
main article header .linha .coluna-medalha:nth-child(3) span {
  background-color: #f7cc48;
}
main article header .linha .coluna-medalha:nth-child(4) span {
  background-color: #d8d6d6;
}
main article header .linha .coluna-medalha:nth-child(5) span {
  background-color: #b7955e;
}
main article header .linha .coluna-total {
}
main article header .linha .coluna-total span {
}
main article section {
  height: 608px;
  overflow-y: scroll;
}
main article section .linha {
  padding: 15px 0;
}
main article section .linha:nth-child(2n + 1) {
  background-color: #e6e6e6;
}
main article section .linha .coluna {
}
main article section .linha .coluna span {
  font-size: 22px;
}
main article section .linha .coluna-rank {
  flex-basis: 95px;
}
main article section .linha .coluna-rank span {
}
main article section .linha .country {
  flex-grow: 2;
}
main article section .linha .country img {
}
main article section .linha .country span {
  vertical-align: top;
}
.medal_gold,
.medal_silver,
.medal_bronze {
  flex-basis: 84px;
}
main article section .linha .medal_gold {
}
main article section .linha .medal_gold span {
}
main article section .linha .medal_silver {
}
main article section .linha .medal_silver span {
}
main article section .linha .medal_bronze {
}
main article section .linha .medal_bronze span {
}
main article section .linha .total {
  flex-basis: 76px;
}
main article section .linha .total span {
}
.quadro-medalhas {
  height: 500px;
}
